// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "index";
@import "products";
@import "navbar";
@import "login";
@import "signup";

// Global
body {
  padding-top: 70px;
  background-image: url(https://images.pexels.com/photos/1227648/pexels-photo-1227648.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  
  .page-header h1 {
    color: white;
  }
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}
