// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "index";
@import "products";
@import "navbar";
@import "login";
@import "signup";

// Global
body {
  padding-top: 70px;
  background-color: #E3C6AD;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}
