main .products-show {

  .product-detail {

    .col-sm-8 {
      font-size: 18px;
    }
  }

  .reviews-container {
    width: 60%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    .create-review {
      text-align: center;

      input[type="text"] {
        width: 60%;
      }
    }
  }
}