main .signup-container {
  width: 580px;
  margin: auto;
  margin-top: 20%;
  border-radius: 5px;
  background-color: #0B2704;
  color: white;
  border: 1px solid white;
  
  h1 {
    text-align: center;
    padding: 10px;
  }

  p {
    text-align: center;
    font-size: 20px;
  }

  form {
    text-align: center;
    font-size: 20px;
    width: 80%;
    margin: auto;

    p {
      text-align: right;
    }

    input {
      background-color: #CFDBD5;
      color: #804D2F;
    }

    input[type="submit"] {
      margin: 20px;
      width: 30%;
      height: 50px;
      border-radius: 10px;
      font-size: 25px;
    }
    
    input[type="submit"]:hover {
      background-color: #266E1D;
      color: white;
    }
  }
}