<div class="single-review">
  <dt>Name</dt>
  <dd><%= "#{review.user.first_name} #{review.user.last_name}" %></dd>
  <dt>Comment</dt>
  <dd><%= review.description %> </dd>
  <dt>Rating</dt>
  <dd><%= review.rating %>⭐</dd>
  <% if @current_user == review.user  %>
    <dd><%= button_to "Delete", product_review_path(review.product_id, review.id), method: :delete %></dd>
  <% end %>
</div>


